<!-- PaginationComponent.razor -->

<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary" @onclick="OnPreviousPage" disabled="@(!CanGoPrevious)">Previous</button>
    <span class="mt-2 mx-1">Page @PageNumber of @TotalPages</span>
    <button class="btn btn-primary" @onclick="OnNextPage" disabled="@(!CanGoNext)">Next</button>
</div>

@code {
    [Parameter]
    public int PageNumber { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback OnPrevious { get; set; }

    private bool CanGoPrevious => PageNumber > 1;
    private bool CanGoNext => PageNumber < TotalPages;

    private async Task OnPreviousPage()
    {
        if (CanGoPrevious)
        {
            await OnPrevious.InvokeAsync();
        }
    }

    private async Task OnNextPage()
    {
        if (CanGoNext)
        {
            await OnNext.InvokeAsync();
        }
    }
}

